@let selectedManagerValue = selectedManager();

<form id="dialog-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-2">
      <label for="name">Название <span class="text-red-600">*</span></label>
      <input pInputText id="name" formControlName="name" required />
      @if (name?.invalid && (name?.dirty || !name?.untouched)) {
        <small class="text-red-600">Введите название.</small>
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="category">Категория компании</label>
      <p-select
        id="category"
        dataKey="id"
        appendTo="body"
        formControlName="category"
        optionLabel="name"
        [loading]="isCompanyCategoryNamesLoading()"
        [options]="(companyCategoryNames$ | async) ?? []"
        (onChange)="selectedCompanyCategory.set($event.value)"
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="fieldOfActivity">Сфера деятельности</label>
      <input
        pInputText
        id="fieldOfActivity"
        formControlName="fieldOfActivity"
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="publications">Издания</label>
      <input pInputText id="publications" formControlName="publications" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="phones">Телефоны</label>
      <input pInputText id="phones" formControlName="phones" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="emails">Адреса электронных почт</label>
      <input pInputText id="emails" formControlName="emails" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="emails">Ссылки</label>
      <input pInputText id="urls" formControlName="urls" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="postalAddress">Почтовый адрес</label>
      <input pInputText id="postalAddress" formControlName="postalAddress" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="officeAddress">Расположения офиса</label>
      <input pInputText id="officeAddress" formControlName="officeAddress" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="workTime">Время работы</label>
      <input pInputText id="workTime" formControlName="workTime" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="notes">Примечания</label>
      <input pInputText id="notes" formControlName="notes" />
    </div>

    <div class="flex flex-col gap-2">
      <label for="manager">Менеджер</label>
      <p-select
        appendTo="body"
        dataKey="id"
        formControlName="manager"
        id="manager"
        [loading]="isManagerNamesLoading()"
        [options]="(managerNames$ | async) ?? []"
        (onChange)="selectedManager.set($event.value)"
      >
        <ng-template pTemplate="selectedItem">
          @let managerName = selectedManagerValue?.name;

          @if (managerName) {
            <div class="flex items-center gap-2">
              <span>
                {{ managerName | userNameLong }}
              </span>
            </div>
          }
        </ng-template>
        <ng-template let-option pTemplate="item">
          <div class="inline-block align-middle">
            <span class="ml-1 mt-1">
              {{ option.name | userNameLong }}
            </span>
          </div>
        </ng-template>
      </p-select>
    </div>
  </div>
</form>
