@let findAllResultValue = findAllResult();

<div class="h-full">
  <p-table
    #table
    alwaysShowPaginator="true"
    [columns]="selectedColumns()"
    [filters]="tableFilters"
    lazy
    [loading]="isLoading()"
    paginator
    paginatorDropdownAppendTo="table"
    paginatorStyleClass="dropdown-top"
    [rows]="rowsPerPage()"
    [rowsPerPageOptions]="rowsPerPageOptions"
    scrollable
    scrollHeight="flex"
    showGridlines
    size="small"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [stateKey]="localStorageKey"
    stateStorage="local"
    styleClass="paginator-dropdown-top"
    [totalRecords]="findAllResultValue?.count ?? 0"
    [value]="findAllResultValue?.items ?? []"
    (onFilter)="onFilter($event)"
    (onPage)="onPageChange($event)"
    (onSort)="onSort($event)"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [name]="companiesMenuItem?.label"
        [columns]="columns"
        [icon]="companiesMenuItem?.icon"
        (add)="onAdd('Добавление компании')"
        (clearFilters)="onClearFilters(table)"
        [hiddenColumns]="hiddenColumns()"
        (hiddenColumnsChange)="onHiddenColumnsChange($event)"
      >
        <p-button
          [label]="companyCategoriesMenuItem?.label"
          [icon]="companyCategoriesMenuItem?.icon"
          [routerLink]="companyCategoriesMenuItem?.routerLink"
          severity="secondary"
          text
        />
      </app-table-header>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr [style.height.px]="46">
        @for (column of columns; track column.field) {
          <th class="text-nowrap" [pSortableColumn]="column.field">
            {{ column.header }}
            <p-sortIcon [field]="column.field" />
          </th>
        }
        <th pFrozenColumn alignFrozen="right">Действия</th>
      </tr>

      <tr>
        @for (column of columns; track column.field) {
          <th>
            @if (column.field === "category.name") {
              <p-columnFilter
                field="categoryId"
                matchMode="equals"
                [showMenu]="false"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-select
                    appendTo="body"
                    dataKey="id"
                    filter
                    [loading]="isCompanyCategoryNamesLoading()"
                    [(ngModel)]="value!"
                    [options]="(companyCategoryNames$ | async) ?? []"
                    optionLabel="name"
                    showClear
                    (onChange)="filter($event.value)"
                  />
                </ng-template>
              </p-columnFilter>
            } @else if (column.field === "manager.name.last") {
              <p-columnFilter
                field="managerId"
                matchMode="equals"
                [showMenu]="false"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-select
                    appendTo="body"
                    dataKey="id"
                    filter
                    [loading]="isManagerNamesLoading()"
                    [(ngModel)]="value!"
                    [options]="(managerNames$ | async) ?? []"
                    optionLabel="name.last"
                    showClear
                    (onChange)="filter($event.value)"
                  >
                    <ng-template pTemplate="selectedItem">
                      @if (value?.name) {
                        <div class="flex items-center gap-2">
                          <span>
                            {{ value.name | userNameShort }}
                          </span>
                        </div>
                      }
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block align-middle">
                        <span class="mt-1 ml-1">
                          {{ option.name | userNameShort }}
                        </span>
                      </div>
                    </ng-template>
                  </p-select>
                </ng-template>
              </p-columnFilter>
            } @else {
              <p-columnFilter
                [field]="column.field"
                [type]="column.filterType"
              />
            }
          </th>
        }
        <th pFrozenColumn alignFrozen="right"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-company let-columns="columns">
      @let isAddedItem = addedItemIds().includes(company.id);

      <tr [class.bg-green-100]="isAddedItem" [class.text-black]="isAddedItem">
        @for (column of columns; track column.field) {
          @let value = getFieldValue(company, column.field);
          <td>
            @if (column.field === "name") {
              {{ value }}
            } @else if (
              column.field === "manager.name.last" && company.manager
            ) {
              {{ company.manager.name | userNameShort }}
            } @else if (column.filterType === "date") {
              {{ value | date: "dd.MM.yyyy" }}
            } @else {
              {{ value }}
            }
          </td>
        }
        <td pFrozenColumn alignFrozen="right">
          <app-table-actions
            (delete)="onDelete(company, 'Удаление компании')"
            (edit)="onEdit(company, 'Редактирование компании')"
          >
            <p-button
              [icon]="contactFacesMenuItem?.icon ?? ''"
              pButton
              pRipple
              [pTooltip]="contactFacesMenuItem?.label"
              rounded
              severity="secondary"
              text
              type="button"
              [routerLink]="contactFacesMenuItem?.routerLink"
              [queryParams]="{ companyId: company.id }"
            ></p-button>

            <p-button
              [icon]="contactsMenuItem?.icon ?? ''"
              pButton
              pRipple
              [pTooltip]="contactsMenuItem?.label"
              rounded
              severity="secondary"
              text
              type="button"
              [routerLink]="contactsMenuItem?.routerLink"
              [queryParams]="{ companyId: company.id }"
            ></p-button>
          </app-table-actions>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="999">Компании не найдены.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
