@let findAllResultValue = findAllResult();

<div class="h-full">
  <p-table
    #table
    alwaysShowPaginator="true"
    [columns]="selectedColumns()"
    [filters]="tableFilters"
    lazy
    [loading]="isLoading()"
    paginator
    paginatorDropdownAppendTo="table"
    paginatorStyleClass="dropdown-top"
    [resizableColumns]="false"
    [rows]="rowsPerPage()"
    [rowsPerPageOptions]="rowsPerPageOptions"
    scrollable
    scrollHeight="flex"
    showGridlines
    size="small"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [stateKey]="localStorageKey"
    stateStorage="local"
    styleClass="paginator-dropdown-top"
    [totalRecords]="findAllResultValue?.count ?? 0"
    [value]="findAllResultValue?.items ?? []"
    (onFilter)="onFilter($event)"
    (onPage)="onPageChange($event)"
    (onSort)="onSort($event)"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        [name]="contactFacesMenuItem?.label"
        [columns]="columns"
        [icon]="contactFacesMenuItem?.icon"
        (add)="
          onAdd('Добавление контактного лица', {
            company: getSelectedCompany(),
          })
        "
        (clearFilters)="onClearFilters(table)"
        [hiddenColumns]="hiddenColumns()"
        (hiddenColumnsChange)="onHiddenColumnsChange($event)"
      >
        <p-button
          [label]="contactFacePositionsMenuItem?.label"
          [icon]="contactFacePositionsMenuItem?.icon"
          [routerLink]="contactFacePositionsMenuItem?.routerLink"
          severity="secondary"
          text
        />
      </app-table-header>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr [style.height.px]="46">
        @for (column of columns; track column.field) {
          <th class="text-nowrap" [pSortableColumn]="column.field">
            {{ column.header }}
            <p-sortIcon [field]="column.field" />
          </th>
        }
        <th pFrozenColumn alignFrozen="right">Действия</th>
      </tr>
      <tr>
        @for (column of columns; track column.field) {
          <th>
            @if (column.field === "company.name") {
              <p-columnFilter
                field="companyId"
                matchMode="equals"
                [showMenu]="false"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-select
                    appendTo="body"
                    dataKey="id"
                    filter
                    [loading]="isCompanyNamesLoading()"
                    [(ngModel)]="value!"
                    [options]="(companyNames$ | async) ?? []"
                    optionLabel="name"
                    showClear
                    (onChange)="filter($event.value)"
                  />
                </ng-template>
              </p-columnFilter>
            } @else if (column.field === "position.name") {
              <p-columnFilter
                field="positionId"
                matchMode="equals"
                [showMenu]="false"
              >
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-select
                    appendTo="body"
                    dataKey="id"
                    filter
                    [loading]="isContactFacePositionNamesLoading()"
                    [(ngModel)]="value!"
                    [options]="(contactFacePositionNames$ | async) ?? []"
                    optionLabel="name"
                    showClear
                    (onChange)="filter($event.value)"
                  />
                </ng-template>
              </p-columnFilter>
            } @else {
              <p-columnFilter
                [field]="column.field"
                [type]="column.filterType"
              />
            }
          </th>
        }
        <th pFrozenColumn alignFrozen="right"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-contactFace let-columns="columns">
      @let isAddedItem = addedItemIds().includes(contactFace.id);

      <tr [class.bg-green-100]="isAddedItem" [class.text-black]="isAddedItem">
        @for (column of columns; track column.field) {
          @let value = getFieldValue(contactFace, column.field);
          <td>
            {{
              column.filterType === "date"
                ? (value | date: "dd.MM.yyyy")
                : value
            }}
          </td>
        }
        <td pFrozenColumn alignFrozen="right">
          <app-table-actions
            (delete)="onDelete(contactFace, 'Удаление контактного лица')"
            (edit)="onEdit(contactFace, 'Редактирование контактного лица')"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="999">Контактные лица не найдены.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
