@let addedItemIdsValue = addedItemIds();
@let findAllResultValue = findAllResult();

<div class="h-full">
  <p-table
    alwaysShowPaginator="true"
    lazy
    [loading]="isLoading()"
    paginator
    paginatorDropdownAppendTo="table"
    paginatorStyleClass="dropdown-top"
    resizableColumns
    [rows]="rowsPerPage()"
    [rowsPerPageOptions]="rowsPerPageOptions"
    scrollable
    scrollHeight="flex"
    showGridlines
    size="small"
    styleClass="paginator-dropdown-top p-datatable-gridlines"
    [totalRecords]="findAllResultValue?.count ?? 0"
    [value]="findAllResultValue?.items ?? []"
    (onFilter)="onFilter($event)"
    (onPage)="onPageChange($event)"
    (onSort)="onSort($event)"
    [tableStyle]="{ 'min-width': '50rem' }"
    stateStorage="local"
    dataKey="id"
    editMode="row"
  >
    <ng-template pTemplate="caption">
      <app-table-header
        name="Категории компаний"
        (add)="add('Добавление категории компаний')"
      />
    </ng-template>

    <ng-template pTemplate="header">
      <tr [style.height.px]="46">
        <!--<th class="text-nowrap" pResizableColumn pSortableColumn="id">
          Id
          <p-sortIcon field="id" />
        </th>-->
        <th class="text-nowrap" pResizableColumn pSortableColumn="name">
          Название
          <p-sortIcon field="name" />
        </th>
        <th class="text-nowrap" pResizableColumn pSortableColumn="createdAt">
          Дата создания
          <p-sortIcon field="createdAt" />
        </th>
        <th class="text-nowrap" pResizableColumn pSortableColumn="updatedAt">
          Дата изменения
          <p-sortIcon field="updatedAt" />
        </th>
        <th>Действия</th>
      </tr>
      <tr>
        <!--<th pResizableColumn>
          <p-columnFilter type="numeric" field="id" />
        </th>-->
        <th pResizableColumn>
          <p-columnFilter type="text" field="name" />
        </th>
        <th pResizableColumn>
          <p-columnFilter type="date" field="createdAt" />
        </th>
        <th pResizableColumn>
          <p-columnFilter type="date" field="updatedAt" />
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-companyCategoriesValue>
      @let isAddedItem = addedItemIdsValue.includes(companyCategoriesValue.id);

      <tr [class.bg-green-100]="isAddedItem" [class.text-black]="isAddedItem">
        <!--<td>{{ companyCategoriesValue.id }}</td>-->
        <td>{{ companyCategoriesValue.name }}</td>
        <td>{{ companyCategoriesValue.createdAt | date: "dd.MM.yyyy" }}</td>
        <td>{{ companyCategoriesValue.updatedAt | date: "dd.MM.yyyy" }}</td>
        <td>
          <app-table-actions
            (delete)="
              delete(companyCategoriesValue, 'Удаление категории компаний')
            "
            (edit)="
              edit(companyCategoriesValue, 'Редактирование категории компаний')
            "
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
