@let columnsValue = columns();
@let iconValue = icon();

<div class="flex items-center justify-between gap-2">
  <div class="flex grow items-center justify-between">
    <span class="text-xl font-bold">
      @if (iconValue) {
        <i [class]="iconValue"></i>
      }
      {{ name() }}
    </span>
    <ng-content />
  </div>

  <div class="flex gap-2">
    <p-multi-select
      appendTo="body"
      dropdownIcon="fa-solid fa-table-columns"
      [maxSelectedLabels]="0"
      [(ngModel)]="selectedColumns"
      [options]="columnsValue"
      optionLabel="header"
      [placeholder]="'0 из ' + columnsValue.length"
      [selectedItemsLabel]="'{0} из ' + columnsValue.length"
      (onChange)="onSelectedColumnsChange()"
    />

    <p-button
      icon="pi pi-filter-slash"
      rounded
      size="small"
      severity="secondary"
      (click)="onClearFilters()"
    />

    <p-button icon="pi pi-plus" rounded size="small" (click)="onAdd()" />
  </div>
</div>
