<div class="flex items-center justify-between">
  <span class="text-xl font-bold">{{ title() }}</span>

  <div class="flex gap-2">
    <p-multi-select
      display="chip"
      [options]="columns()"
      [(ngModel)]="selectedColumns"
      optionLabel="header"
      selectedItemsLabel="{0} столбцов выбрано"
      [style]="{ 'min-width': '200px' }"
      placeholder="Выберите столбцы"
      (onChange)="onSelectedColumnsChange()"
    />

    <p-button
      icon="pi pi-filter-slash"
      rounded
      size="small"
      severity="secondary"
      (click)="onClear()"
    />

    <p-button icon="pi pi-plus" rounded size="small" (click)="onAdd()" />
  </div>
</div>
