/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@plugin "tailwindcss-primeui";
@custom-variant dark (&:where(.dark, .dark *));

@import "primeicons/primeicons.css";

.paginator-dropdown-top .p-paginator .p-select-overlay {
  position: absolute;
  top: unset;
  bottom: 100%;
}
